* {
    margin: 0;
    font-family: Arial;
}

body {
    background-color: #082140;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #215277;
    padding: 20px;
    border-bottom: solid #040918 5px;
    color: #61daaf;
    margin-bottom: 20px;
}

.container {
    display: flex;
}

#league-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 65%;
}

#champion-info {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    width: 35%;
    height: 150px;
    margin-right: 20px;
    gap: 10px;

    position: fixed;
    top: 93px;
    right: 20px;

    color: white;
    border: 3px solid #269c7d;
    border-radius: 5px;
    background-color: #3f5873;
}

#favorite-list {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
    width: 35%;
    height: 150px;
    margin-right: 20px;
    gap: 10px;

    position: fixed;
    top: 330px;
    right: 20px;

    color: white;
    border: 3px solid #269c7d;
    border-radius: 5px;
    background-color: #3f5873;
}

.champion-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    border: 3px solid #269c7d;
    border-radius: 5px;
    background-color: #3f5873;
    padding: 20px;
    color: #61daaf;
}

.champion-image {
    height: 17rem;
    border: 2px solid #269c7d;
    border-radius: 5px;
}

.champion-button {
    display: block;
    border: none;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    background-color: #61daaf;
    color: #000000;
    font-size: 15px;
    transition: ease-out 0.2s;
}

.champion-button:hover {
    background-color: #b0ffe3;
    cursor: pointer;
    transition: ease-in 0.2s;
}